body {
    margin: 0;
    min-height: 100vh;

    background:
        radial-gradient(circle at top left, #00ffcc55, transparent 40%),
        radial-gradient(circle at bottom right, #0066ff55, transparent 40%),
        linear-gradient(135deg, #0f2027, #203a43, #2c5364);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Segoe UI", Tahoma, sans-serif;
    color: white;
}

.container {
    width: 420px;
    background: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 14px;

    box-shadow:
        0 0 25px rgba(0, 255, 204, 0.35),
        0 10px 40px rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    color: #00ffcc;
}

p {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
}

form {
    margin-bottom: 25px;
}

input[type="file"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;  
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #00ffcc;
    background: #121212;
    color: white;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #00ffaa;
    box-shadow: 0 0 8px rgba(0, 255, 204, 0.6);
}

#strength {
    margin-top: 6px;
    font-size: 13px;
    font-weight: bold;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #00ffcc, #00bfa5);
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 255, 204, 0.6);
}
